body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

.butsort {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-gap: 10px;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

footer {
    text-align: center;
    background-color: #f0f8ff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cartelasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    padding: 0 20px;
}

.bingo-card {
    border: 2px solid #4682b4;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 220px;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #4682b4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: #add8e6;
}

.empty {
    background-color: #ffffff;
}

.numero-sorteado {
    background-color: red;
    color: white;
}

#numerosSorteados {
    margin-top: 20px;
    text-align: center;
}

